# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
logs
results

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Visual Studio Code
.vscode/

# Editor-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Build files
/build/
dist/

# Config files
config/config.json

# Package files
package-lock.json